<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <img class="horizontal-logo" src="../assets/images/logo/Horizontal-Logo.png">
    </div>
    <div class="col-12 col-md-8 offset-md-2">
        <form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submitHandler()">

            <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="name">
            </mat-form-field>
          
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="email.invalid && email.touched">
                Por favor, introduzca su correo. 
              </mat-error>
            </mat-form-field>
          
            <mat-form-field>
              <mat-select placeholder="Habilidad principal" formControlName="main_ability">
                <mat-option value="FullStack">Full Stack </mat-option>
                <mat-option value="Frontend">Desarollador Frontend  </mat-option>
                <mat-option value="Backend">Desarollador Backend</mat-option>
                <mat-option value="WebDesign">Diseño Web </mat-option>
                <mat-option value="Integration">Integración de sistemas</mat-option>
                <mat-option value="DataBases">Bases de Datos</mat-option>
                <mat-option value="Redes">Redes</mat-option>
                <mat-option value="Ninguna">Ninguna</mat-option>
              </mat-select>
              <mat-hint align="start"> Selecciona tu mejor habilidad </mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Última materia de sistemas cursada" formControlName="last_subject">
                <mat-option value="Algoritmos y programación"> Algoritmos y programación  </mat-option>
                <mat-option value="Estructuras de datos "> Estructuras de datos </mat-option>
                <mat-option value="Organización del computador">Organización del computador</mat-option>
                <mat-option value="Base de Datos">Base de Datos</mat-option>
                <mat-option value="Sistemas de información">Sistemas de información</mat-option>
                <mat-option value="Ingenieria de software">Ingenieria de software</mat-option>
                <mat-option value="Ninguna">Ninguna</mat-option>
              </mat-select>
              <!-- <mat-hint align="start"> Selecciona la última materia cursada </mat-hint> -->
            </mat-form-field>
          
            <div class="row">
              <div class="col text-center">
                <button mat-raised-button [disabled]="myForm.invalid" color="primary"> Send </button> 
              </div>
            </div>
          
            </form>
          
            <div  *ngIf="success" class="row ">
              <div class="col-12 text-center notification is-success mt-5">
                <h2> Tu solicitud ha sido procesada correctamente! </h2>
              </div>
              <div class="col-12 text-center">
                <span style="font-size: 4px;" > Manco </span>
              </div>
            </div>
          </div>
    </div>
  </div>
  

