@import "../../../assets/sass/general";
 
 mat-form-field {
    display: block;
}

.aether-test{
    font-family: monospace;
}

.aether-test-question{
    font-family: monospace;
    min-height: 60vh;
}

.question-box{
    min-height: 100%;
    background: black;
    color: lime;
}