<mat-toolbar class="toolbar">
  <span routerLink="/home">
    Aether Solutions
  </span>
  <span class="horizontal-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button> -->
    <button mat-menu-item routerLink="/test">
      <mat-icon>announcement</mat-icon>
      <span>Test</span>
    </button>
    <button mat-menu-item routerLink="/recruit">
      <mat-icon>how_to_reg</mat-icon>
      <span>Recruit</span>
    </button>
  </mat-menu>
</mat-toolbar>